{%extends "template.html"%}
{%block content%}
<center>
    <div id="modifybox" class="customalert">
    <div class="alertcontent">
    <h4 id="facilityName"></h4>
    <form method="POST" action="/" autocomplete="off">
    <input type="hidden" name="hospnumber" id="hospnumber">
    <label>Total Beds</label>
    <input type="number" required class="forminput" id="totalbeds" name="totalbeds" onkeypress="isInputNumber(event)">
    <br>
    <label>Available Beds</label>
    <input type="number" required class="forminput" id="availablebeds" name="availablebeds" onkeypress="isInputNumber(event)">
    <br>
    <label>Total ICU Beds</label>
    <input type="number" required class="forminput" id="totalICU" name="totalICU" onkeypress="isInputNumber(event)">
    <br>
    <label>Available ICU Beds</label>
    <input type="number" required class="forminput" id="availableICU" name="availableICU" onkeypress="isInputNumber(event)">
    <br>
    <label>Number of Doctors</label>
    <input type="number" required class="forminput" id="totdocs" name="totdocs" onkeypress="isInputNumber(event)">
    <br>
    <label>Administrator Key</label>
    <input type="password" required class="forminput" id="pw" name="pw">
    <br>
    <button class="alertbtn save" id="saveit" name="saveit" type="submit">Save</button>
    </form>
    <button id="cancel" class="alertbtn cancel" style="margin-top: 7px;">Cancel</button>
    </div>
    </div>

    <div class="card">
        <p style="text-align: left; padding: 20px;">
            This Web Application will help the Government to keep track of the infrastructure 
            and other medical facilities in Private hospitals. If and when the number of COVID-19 cases increases, the
            Government can have access to real time information about the infrastructure and resources and
            take the appropriate decisions.
        </p>
        <div class="addhospitalarea hidder" id="helpform">
            <form style="display: inline;" action="/nearby/" type="submit" method="POST">
            <input type="hidden" name="lat" id="lat">
            <input type="hidden"name="long" id="long">
            <a href="/nearby/"><button class="helpnow"><i class="fa fa-heartbeat" aria-hidden="true"></i> &nbsp Get Help</button></a>
            </form>
            <a href="/new/"><button class="newhospital"><i class="fa fa-ambulance" aria-hidden="true"></i> &nbsp New Hospital</button></a>
        </div>
        <div style="text-align: left;padding: 20px;">
        {%if near%}
            <p>Your nearest health and medical Facilities are displayed below</p>
        {%endif%}
        <a href="/show/" class="revolveBtn">
            <i class="fa fa-refresh" aria-hidden="true"></i> 
        </a>
        </div>
        <div style="overflow-x:auto;">
        <table class="hospitalTable" cellspacing="0">
            <tr>
                <th class="long">Facility Name</th>
                <th class="small hidder">Location</th>
                <th class="small hidder">Bed Capacity</th>
                <th class="small">Available Beds</th>
                <th class="small">Number of Doctors</th>
                <th class="small hidder">Total ICU Beds</th>
                <th class="small">Available ICU Beds</th>
                <th class="medium hidder">Edit</th>
            </tr>
            {%for i in info%}
            <tr>
                <div class="hoverable">
                <td id="name{{i['number']}}">{{i['name']}}</td>
                <td id="location{{i['number']}}" class="hidder">{{i['lat']}}, {{i['long']}}</td>
                <td id="totalbeds{{i['number']}}" class="hidder">{{i['total_beds']}}</td>
                <td id="availableicu{{i['number']}}">{{i['available_beds']}}</td>
                <td id="doctors{{i['number']}}">{{i['doctors']}}</td>
                <td id="availablebeds{{i['number']}}">{{i['total_ICU']}}</td>
                <td id="totalicu{{i['number']}}" class="hidder">{{i['available_ICU']}}</td>
                <td class="hidder"> 
                    <button onclick='go({{i["number"]}})' class="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button> 
                </td>
                </div>
            </tr>
            {%endfor%}
        </table>
        </div>
    </div>
    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } 
            else { 
                $("#helpform").hide("fast","linear");
                $("#lat").val(28.704);
                $("#long").val(77.102);
            }
        }
        function showPosition(position) {
            $("#lat").val(position.coords.latitude);
            $("#long").val(position.coords.longitude);
        }
        getLocation();
    </script>
</center>
{%endblock%}