{%extends "template.html"%}
{%block content%}
<center>
    <div class="card">
        <p style="text-align: left; padding: 20px;">
            This Web Application will help the Government to keep track of the infrastructure 
            and other medical facilities in Private hospitals. If and when the number of COVID-19 cases increases, the
            Government can have access to real time information about the infrastructure and resources and
            take the appropriate decisions.
        </p>
        <div class="addhospitalarea hidder" id="helpform">
            <a href="/new/"><button class="newhospital"><i class="fa fa-ambulance" aria-hidden="true"></i> &nbsp New Hospital</button></a>
        </div>
        <div style="text-align: left; padding: 20px;">
            <a href="/" class="revolveBtn">
                <i class="fa fa-eye" aria-hidden="true"></i> 
            </a>
        </div>
        <center>
            <input type="text" id="filterSearch" class="filterSearch" placeholder="Search for hospitals...">
        </center>
        <div class="container" id="container"></div>
    </div>
</center>
<script>
    List=[];
    {%for i in info%}
    var hospital = {
        number: {{i['number']}},
        name: "{{i['name']}}",
        total_beds: {{i['total_beds']}},
        available_beds: {{i['available_beds']}},
        total_ICU: {{i['total_ICU']}},
        available_ICU: {{i['available_ICU']}},
        doctors: {{i['doctors']}},
        
    };
    List.push(hospital);
    {% endfor %}

    function showCards(){
        table=document.createElement('table');
        table.classList.add('cardTable');
        item="";
        for (i=0 ; i<List.length ; i++){
            item=item+"<div class='responsiveCard'><div class='contentCard'><div class='datapart'><table>";
            item=item+"<tr><th class='cardhcell'>"+ List[i].name +"</th></td>";
            item=item+"<tr><th class='cardcell'>Total Beds:" + List[i].total_beds + "</th></td>";
            item=item+"<tr><th class='cardcell'>Available Beds:" + List[i].available_beds + "</th></td>";
            item=item+"<tr><th class='cardcell'>ICU Beds:" + List[i].total_ICU + "</th></td>";
            item=item+"<tr><th class='cardcell'>Available ICU Beds:" + List[i].available_ICU + "</th></td>";
            item=item+"<tr><th class='cardcell'>Doctors:" + List[i].doctors + "</th></td>";
            item=item+"</table></div></div></div>";
        }
        document.getElementById("container").innerHTML = item;
    }
    showCards();

    $("#filterSearch").on("input", function(){
        inputText=$("#filterSearch").val();
        document.getElementById("container").innerHTML = "";
        if(inputText===""){
            showCards();
        }else{
            table=document.createElement('table');
            table.classList.add('cardTable');
            item="";
            for(i=0; i<List.length; i++){
                if (List[i].name.includes(inputText)){
                    item=item+"<div class='responsiveCard'><div class='contentCard'><div class='datapart'><table>";
                    item=item+"<tr><th class='cardhcell'>"+ List[i].name +"</th></td>";
                    item=item+"<tr><th class='cardcell'>Total Beds:" + List[i].total_beds + "</th></td>";
                    item=item+"<tr><th class='cardcell'>Available Beds:" + List[i].available_beds + "</th></td>";
                    item=item+"<tr><th class='cardcell'>ICU Beds:" + List[i].total_ICU + "</th></td>";
                    item=item+"<tr><th class='cardcell'>Available ICU Beds:" + List[i].available_ICU + "</th></td>";
                    item=item+"<tr><th class='cardcell'>Doctors:" + List[i].doctors + "</th></td>";
                    item=item+"</table></div></div></div>";
                }
            }
        }
    });
</script>
{%endblock%}